{% extends 'app/base.html' %}

{% block main-content %}

{% if user.is_authenticated %}

<h2>Add Post...</h2><br>
<div class="form-group">
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.media}}
{{form.as_p}}
<input value="Post" type="submit" class="btn btn-secondary">
</form>
</div>

<script>
   var name = "{{ user.id }}"
   document.getElementById("elder").value
      = name;

</script>

{% else %}
   
   you're not allowed here

{% endif %}
{% endblock main-content %}



