@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=Open+Sans&display=swap');

.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}
.dropdown-menu .dropdown-item:hover{
    background-color: black;
    color: white;
}
#list-item-hover a:hover{
    background-color: black;
    color:white;
}
.list-group-item {
    color: black;
}
.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}
.product_title{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.product_price{
    font-size: 16px;
    color: rgb(56, 51, 51);
    font-weight: 500;
}
#slider1 a:hover{
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
#slider2 a:hover{
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
#slider3 a:hover{
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
#slider4 a:hover{
	background: #fff;
	text-decoration: none;
	box-shadow: 30px 0px 20px 0 rgba(0,0,0,0.5);
}
.sureShop_product{
	font-family: 'Open Sans', sans-serif;
}
